body{
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 50px 50px;
  background-image: url("https://media.giphy.com/media/5XamvEI62EUsU/giphy.gif");
}

h3{
  display: inline;
}


p{
  margin: 10px;
  padding: 1px;
  border 2px double;
  background-color: rgba(201, 0, 76, 0.7);
  font-family: "Amatic SC";
  text-align: center;
  color: white;
}

.header1{
  margin: 1px;
  padding: 1px;
  border: 2px double #49F3EB;
  background-image: url("https://media.giphy.com/media/2iypzGlDDHTfa/giphy.gif");
  text-align: center;
  font-family: "Special Elite", serif;
}

a:link, a:visited {
  background-color: rgba(73, 243, 235, 0.7);
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

a:hover, a:active {
  background-color: rgba(73, 243, 235, 0.9);
}
